/* 
&display=swap
&subset=cyrillic-ext 
*/
/* @import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap"); */
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,regular,500,600,700&display=swap'); */
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: "Roboto";
	background: #f5f5f5;
}
.wrapper {
	/* min-height: 100%;
	overflow: hidden;
	padding: 50px; */
}
/* ------------------------------ */


.block-dishes-burger__wrap-element p span{
    
}