.main, .header, .footer{
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.header, .footer{
    background-color: aqua;
}

.gallery-of-dishes{
    border: 3px solid blue;
    display: flex;
    gap: 31px;
}

.card-dishes{
    border: 3px solid teal;
    padding: 48px 32px 19px;
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
}

.card-dishes div img{
    width: 87px;
    height: 87px;
}

.card-dishes h3{
    margin-bottom: 20px;
}

.card-dishes h3 span{
    color: rgb(188, 144, 96);
}

.info{
    margin-bottom: 20px;
    flex: 1 0 auto;
}

.btn{
    padding: 8px 22px;
    background: teal;
    color: white;
    border-radius: 8px;
    border: 0;
}